.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: var(--dark-gray2); /* Cor fosca solicitada */
  z-index: 999;
  border-bottom: 1px solid #3a3636;
}

/* Ícone de Perfil */
.profile-icon {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.profile-icon .material-icons {
  font-size: 2rem;
}

.search-container {
  position: absolute;
  margin: 0 auto;
  left: 48%;
  transform: translateX(-50%);
  width: 30%;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 0.8rem 3.5rem 0.8rem 1.5rem;
  border: 1px solid #9e8e8e;
  border-radius: 2px;
  background: #7a6e6e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #d9d5d5; /* Equivalente a rgba(255,255,255,0.7) */
}

.search-input:focus {
  outline: none;
  border-color: #d1c6c6; /* Equivalente a rgba(255,255,255,0.6) sobre #6c6060 */
  background: #8a8080; /* Equivalente a rgba(0,0,0,0.4) sobre #6c6060 */
}

.search-icon {
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #d1c6c6; /* Equivalente a rgba(255,255,255,0.8) */
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-icon:hover {
  color: #ffffff;
}

.filter-button {
  position: absolute;
  right: 37%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #d1c6c6;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.filter-button:hover {
  color: var(--white);
}