:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #2e2b2b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fonte-titulo: 'Playfair Display', serif;
  --fonte-corpo: 'Roboto', sans-serif;
  --vinho: #6D214F;
  --vinho-escuro: #4A1530;
  --branco: #FFFF;
}


